<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>onwards/home</title>
  </head>
  <body>
    welcome to onwards
    <br />
    <button onclick="window.location.href='/login'">login</button><button onclick="window.location.href='/register'">register</button>

    <script>
      if (localStorage.loggedIn) {
        window.location.href = "/dashboard";
      }
    </script>
  </body>
</html>
